.like-color {
    color: #fa1f43;
}
#like-icon {
    width: 30px;
    height: 30px;
}

.like-block-read{
    display: flex;
    justify-content: flex-end;
}

.like-block-main{
    display: flex;
    justify-content: flex-start;
}

#view-icon {
    width: 30px;
    height: 30px;
}

.view-block-read{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.view-block-main{
    display: flex;
    margin-left: 20px;
    justify-content: flex-start;
}

.post-info-block{
    display: flex;
}

.pagination-links{
    width: 350px;
}

.mail-form{
    width: 20%;
    height: 20%;
}
